body {margin: 0 auto;}

.wrapper {
	max-width: 1250px;
	width: 100%;
	padding: 0 40px;
	margin: 0 auto;
	display: flex;
}

.box {
	flex: none;
	width: 50%;
}

.box_img img {
	display: inline-block;
	max-width: 50%;
}
